.past-upload {
	display: flex;
	justify-content: flex-start;
    flex-wrap: wrap;
}

.past-upload img {
    margin: 20px;
}

.error {
    color: rgb(255, 0, 0)
}

.delete {
	position: relative;
	top: -100px;
	margin-left: -40px;
	color: #f32a2a;
	font-size: 35px;
	font-weight: bolder;
	transition: 0.3s;
  }
  
.delete:hover,
.delete:focus {
	color: rgb(151, 2, 2);
	text-decoration: none;
	cursor: pointer;
}